body {
    font-family: 'Open Sans', sans-serif;
}
.dash-unit {
    margin-bottom: 30px;
    padding-bottom:10px;
    border: 1px solid #383737;
    background: #3d3d3d url('../img/sep-half.png');
    color:white;
    height:200px;
    padding-top: 10px;
}

.dash-unit:hover {
    background-color: #4f4f4f;
    -moz-box-shadow: 3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow: 3px 3px 2px 0px #151515;
}

.dash-unit .dash-title {
    text-transform: uppercase;
}

.well-title {
    text-transform: uppercase;
}
.close-icon:hover {
    color:#3c3c3c;
}
.light {
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-room-on {
    background: #bd7316;
    background: -webkit-radial-gradient(#bd7316, #f4b342);
    background: -o-radial-gradient(#bd7316, #f4b342);
    background: -moz-radial-gradient(#bd7316, #f4b342);
    background: radial-gradient(#bd7316, #f4b342);

}
.light-room:hover {
    opacity: 0.7;
}
.light-room-off {
    background: #1c1c1c;
}
.view-more {
    margin-top: 20px;
}
.page-title {
    margin-bottom: 50px;
}

/* -----------------------------------
                LIGHTS
 -------------------------------------*/
.room {
    text-align: left;
    color: #605e5e;
    margin-bottom: -15px;
}