.dash-unit {
    margin-bottom: 30px;
    padding-bottom:10px;
    border: 1px solid #383737;
    background: #3d3d3d url('../img/sep-half.png');
    color:white;
    height:200px;
    padding-top: 10px;
}

.dash-unit:hover {
    background-color: #4f4f4f;
    -moz-box-shadow: 3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow: 3px 3px 2px 0px #151515;
}

.dash-unit .dash-title {
    text-transform: uppercase;
}

.well-title {
    text-transform: uppercase;
}
.close-icon:hover {
    color:#3c3c3c;
}